extends layout

block content
  h1= title
  br
  br
  div(class="container")
    form(method="post" action="/" enctype="multipart/form-data")
      h2 Upload file
      div(class="form-group mb-3")
        div(class="custom-file")
          input(type="file" class="custom-file-input form-control" id="photoInput" name="photo")
          label(class="custom-file-label" for="photoInput") Choose file
      div(class="form-group input-group mb-3")
        div(class="input-group-prepend")
          label(class="input-group-text" for="rotationSelect") Rotation
        select(class="custom-select form-control" id="rotationSelect" name="rotation")
          option(selected) Choose...
          option(value="1") Right 90°
          option(value="2") Upside down 180°
          option(value="3") Left -90°
      button(class="btn btn-primary" type="submit" id="uploadBtn" disabled) Process!
  script(type="text/javascript" src="javascripts/client.js")
