extends layout

block content
  div(class="container")
    script(type="text/javascript" src="javascripts/clientIndex.js")
    h1(class="font-weight-light text-center text-lg-left mt-4 mb-0")= title
    hr(class="mt-2 mb-5")
    if photos && photos.length > 0
      div(class="row text-center")
        each photo, num in photos
          div(class="col-lg-3 col-md-4 col-6")
            a(class="d-block mb-4 h-100" id="photo-"+num)
              img(class="img-fluid img-thumbnail" src=photo.url alt=photo.key)
              label(class="font-weight-light")= photo.key
    if !photos || photos.length === 0
      div(class="alert alert-warning" role="alert") No photos found!